*.iml
.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.gradle-home
/.idea/
.kotlin/
*.jks
*.keystore
keystore.properties
key.properties
google-services.json
private-local.properties
